<h1>Flikr Gallery App</h1>
<div class="w3-container">
  <h2>Slideshow Indicators</h2>
  <p>An example of using images to indicate how many slides there are in the slideshow, and which image the user is currently viewing (red border).</p>
</div>

<div class="w3-content" style="max-width:1200px">
  <img class="mySlides" src="/img/OpenField.jpg" style="width:100%">
  <img class="mySlides" src="/img/fog.jpg" style="width:100%">
  <img class="mySlides" src="/img/mountain.jpg" style="width:100%">

  <div class="w3-row-padding w3-section">
    <div class="w3-col s4">
      <img class="demo w3-border w3-hover-shadow" src="/img/OpenField.jpg" style="width:100%" onclick="currentDiv(1)">
    </div>
    <div class="w3-col s4">
      <img class="demo w3-border w3-hover-shadow" src="/img/fog.jpg" style="width:100%" onclick="currentDiv(2)">
    </div>
    <div class="w3-col s4">
      <img class="demo w3-border w3-hover-shadow" src="/img/mountain.jpg" style="width:100%" onclick="currentDiv(3)">
    </div>
  </div>
</div>

<script>
  var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function currentDiv(n) {
    showDivs(slideIndex = n);
  }

  function showDivs(n) {
    var i;
    // get all mySlides elements
    var x = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" w3-border-red", "");
    }
    x[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " w3-border-red";
  }
</script>

