      <div class="jumbotron">
        <h1 class="display-3">FLICKR API Client Gallery</h1>
        <p class="lead">This is a simple client that calls the FLICKR API.</p>
        <p><a class="btn btn-lg btn-success" href="/gallery" role="button">Try it Out</a></p>
      </div>
